.rules {
  border-color: white;
  background-color: white;
}

.gameTitle {
  text-align: center;
  padding-top: 50px;
}

.col,
.col-2,
.col-4,
.col-10 {
  text-align: center;
  margin: auto;
}
.card,
.btn {
  margin: auto;
}

.row {
  margin: 70px;
}

p,
h3,
li {
  text-align: left;
}

h1 {
  font-size: 75px;
  margin-bottom: 30px;
}

.showRN {
  font-size: 70px;
}

.showScore,
.showPoints {
  font-size: 30px;
}
